html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

.clear {
	clear: both;
}

body {
    background-color: #004C29;
}

.container {
	width: 970px;
	margin: auto;
}

h1 {
	text-align: center;
	color: yellow;
	margin-top: 50px;
	font-family: Arial, sans-serif;
}

/*Style the answer board*/

.answer_wrapper {
width: 350px;
margin: 20px auto;
font-size: 20px;
}

.number {
	width: 24px;
	height: 24px;
	padding-top: 1px;
	padding-left: 1px;
	float: left;
	margin: 5px 5px;
	background-color: #FFFED9;
	text-align: center;
	border-radius: 5px;
}

.hundred {
	font-size: 16px;
	padding-left: 0;
	padding-top: 3px;
	height: 22px;
}

/*Style the buttons */

.answer {
	width: 175px;
	height: 25px;
	text-align: center;
	color: #999;
	font-size: 13px;
	margin-left: 360px;
}

.enter {
	display: inline-block;
	width: 55px;
	height: 35px;
	border-radius: 10px;
	margin-left: 5px;
	position: relative;
	top: -1px;
	font-size: 14px;
	text-align: center;
	background-color: yellow;
}

.reset {
	width: 140px;
	height: 35px;
	background-color: orange;
	border-radius: 10px;
	font-size: 16px;
	margin-left: 330px;
	margin-top: 20px;
}

.hint {
	width: 140px;
	height: 35px;
	background-color: orange;
	border-radius: 10px;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 20px;
}

/*Style the hint box */

.hint_box {
	width: 340px;
	height: 100px;
	margin: 20px auto;
	text-align: center;
	font-size: 24px;
	color: yellow;
	font-family: Arial, sans-serif;
}

/*Style legend */

.legend {
	width: 255px;
	position: relative;
	top: -570px;
	left: -30px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #FFFED9;
	padding: 15px 10px 20px 10px;
}

.legend h2 {
	text-align: center;
	margin-bottom: 10px;
}

.legend section {
	height: 40px;
}

.legend section p {
	padding-top: 8px;
}

.legend div {
	width: 24px;
	height: 24px;
	padding-top: 1px;
	padding-left: 1px;
	float: left;
	margin: 5px 5px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 10px;
}

.ice {
	background-color: #1A1FD9;
}

.cold {
	background-color: #80B8C4;
}

.warm {
	background-color: #FF6B78;
}

.hot {
	background-color: #D22018;
}

.correct {
	background-color: black;
}